<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
	See http://nlog-project.org/wiki/Configuration_file
	for information on customizing logging rules and outputs.
	 -->
  <targets>
    <target xsi:type="File" name="Logfile" fileName="/data/Logs/smppsimcatcher.log"
						archiveFileName="/logs/smppsimcatcher.{#####}.log" archiveAboveSize="1048576" maxArchiveFiles="5" archiveNumbering="Sequence"
						layout="${longdate} [${threadid}] ${logger}: ${uppercase:${level}} - ${message}${onexception:${newline}${exception:format=tostring}}" />
    <target xsi:type="NLogViewer" name="TcpOutlet" address="tcp://localhost:45050"
        layout="${longdate} [${gdc:item=UserRealAddress}/${pad:inner=${gdc:item=SessionId}:padding=8:fixedLength=true}] &lt;${pad:inner=${gdc:item=RequestRunningTime}:padding=6:fixedLength=true}&gt; ${logger}: ${uppercase:${level}} - ${message}${onexception:${newline}${exception:format=tostring}}" />
    <target xsi:type="Chainsaw" name="Log2Console" address="udp4://127.0.0.1:31337" />
  </targets>


  <rules>
    <logger name="*" minlevel="Trace" writeTo="Logfile" />
    <logger name="*" minlevel="Trace" writeTo="Log2Console" />
  </rules>
</nlog>